version: '3.1'
services:    
  haproxy:
    build: ./haproxy
    ports:
      - '${HAPROXY_PORT}:${HAPROXY_PORT}'
      - '${HAPROXY_STATS_PORT}:${HAPROXY_STATS_PORT}'
    expose:
      - '${HAPROXY_PORT}'
      - '${HAPROXY_STATS_PORT}'
    environment:
      - 'CONSUL_HOST=${CONSUL_HOST}'
      - 'CLIENT_IP=${CLIENT_IP}'
      - 'CLIENT_PORT=${CLIENT_PORT}'
      - 'DELIVERY_IP=${DELIVERY_IP}'
      - 'DELIVERY_PORT=${DELIVERY_PORT}'
      - 'PAYMENT_IP=${PAYMENT_IP}'
      - 'PAYMENT_PORT=${PAYMENT_PORT}'
      - 'ORDER_IP=${ORDER_IP}'
      - 'ORDER_PORT=${ORDER_PORT}' 
      - 'LOG_IP=${LOG_IP}'
      - 'LOG_PORT=${LOG_PORT}'     
      - 'MACHINE_IP=${MACHINE_IP}'
      - 'MACHINE_PORT=${MACHINE_PORT}'
      - 'RABBIT_IP=${RABBIT_IP}'
      - 'RABBIT_PORT_MAN=${RABBIT_PORT_MAN}'        
      - 'HAPROXY_PORT=${HAPROXY_PORT}'
      - 'HAPROXY_STATS_PORT=${HAPROXY_STATS_PORT}'
    networks:
      4taldea_lb7_network:
        ipv4_address: '${HAPROXY_IP}'
    restart: unless-stopped
networks:
  4taldea_lb7_network:
    external: true